<% layout('/layouts/boilerplate') %> 

<% let viestiNumero = 0 %> 

    <h1 class="text-center mb-3">Vieraskirja</h1>
    <div class="header d-flex align-items-center text-center flex-column">
    <p>Tervetuloa vieraskirjaani. Tänne voi jättää tervehdyksen, jos haluaa tai kommentoida tervehdyksiä. Kommentoimiseen tarvitsee olla loggautunut tahi sitten omien kommenttejen poistoo tai viestien muokkaamiseen.</p>
    <p>Tosin en ole laittanut mitään hirveitä varmistuksia mahdollisten teko accounttejen tekoon, salasana voi olla 1 kirjaimen ja sähköposti vaikka 1@r.</p>
    <p>Ideana on muiden kokeilu, ei minun.</p>
    <a class="btn btn-warning mb-4" href="/vieraskirja/uusi">Jätä tervehdys</a>
  </div>
        
 
  <div class="row">
  
                          
                            <% for(merkintä of vieraskirja) { %>
                              <div class="col-lg-6">
                                <div class="card mt-2">
                                <div class="card-body mb-2">
                                <h5 class="card-title"><%= merkintä.otsikko %> </h5>
                                
                                <%
                                let päivä = merkintä.koska.getDate()
                                let päivänNumero = merkintä.koska.getDay()
                                let kuukausiNumero = merkintä.koska.getMonth()
                                const päivät = ["Sunnuntaina", "Maanantaina", "Tiistaina", "Keskiviikkona", "Torstaina", "Perjantaina", "Lauantaina"]
                                const kuukaudet = ['Tammikuuta', 'Helmikuuta', 'Maaliskuuta', 'Huhtikuuta', 'Toukokuuta', 'Kesäkuuta', 'Heinäkuuta', 'Elokuuta', 'Syyskuuta', 'Lokakuuta', 'Marraskuuta', 'Joulukuuta']
                                let viikonPäivä = päivät[päivänNumero]
                                let kuukausi = kuukaudet[kuukausiNumero]
                                let vuosi = merkintä.koska.getFullYear()
                                %>    
                                <p class="card-text"><small><strong> jätetty:</strong> <%= viikonPäivä %>. <%= päivä %>.<%= kuukausi %> Vuonna: <%= vuosi %> </small></p>   
                            

                                <p class="card-text px-1"><%= merkintä.kommentti %> </p>
                                <p class="card-text px-1"><small> Tervehdyksen jätti: <strong> <%= merkintä.luoja.username %></strong></small> </p>
                                <div class="card-text p-2">
                                  <a href="/vieraskirja/<%= merkintä.koska%>/edit" class="btn btn-warning btn-warning btn-sm ">Muokkaa tai poista</a>
                                </div>
                                </div>                               
                              </div>
                               <!--  jätä kommentti -->
                               <% if(käyttäjä) { %> 
                                <h5>kommentoi</h5>
                                <form action="/vieraskirja/<%=merkintä.koska%>/kommentit" method="POST" novalidate class="validoi-tämä">
                                  
                                  <div class="mb-1">
                                    <label for="kommentti" class="form-label">Kommenttisi</label>
                                    <input type="text" class="form-control"  name="kommentit[kommentti]" id="kommentti"  required></input>
                                    <div class="invalid-feedback">
                                      Tässä pitää olla sisältöä
                                    </div>
                                  </div>
                                  <button class="btn btn-danger btn-sm mb-2">Jätä kommentti</button>
                                </form>
                                <% }  %> 
                             
                                 

                            </div>                    
                         <!--  columnloppuu -->
                         <div class="col-lg-6">
                           <!--  kommentit -->
                           <h4 class="mb-3">Kommentit</h4>
                          
                           
                            <% for (kommentti of merkintä.kommentit) { %>
                              <div class="card mt-1">
                                <div class="card-body">
                                  <p class="card-title">Kommentoija: <%= kommentti.luoja.username %> </p>
                                <p class="card-text"><%= kommentti.kommentti %> </p> 
                                
                                <% if(käyttäjä && merkintä.luoja.equals(käyttäjä._id)) {%>
                                <form action="/vieraskirja/<%=merkintä._id%>/kommentit/<%=kommentti._id%>?_method=DELETE" method="POST">
                                  <button class="btn btn-sm btn-warning">Poista</button>
                                </form>
                                <% } %> 
                              </div>
                            </div>
                            <% } %> 
                          </div>
                          <% } %>
                        </div>
                               
                                
               
        <%- include('../partials/scripts') %> 
            
        