<% layout('/layouts/boilerplate') %> 
    <div class="header d-flex flex-column text-center">
    <h1 class="display-1">Vieraskirja</h1>
    <p>Tervetuloa vieraskirjaan</p>
    <a class="btn btn-warning mb-4" href="/vieraskirja/uusi">Jätä 
    tervehdys</a>
  </div>
    
    
    
    <% for(merkintä of vieraskirja) { %>
            
       <div class="row">
          <div class="col-lg-6">
                  <div class="card mb-1 p-3">    
                    <p class="card-text"><small><strong>Lähettäjä:</strong>  <%= merkintä.luoja.username %> </small> </p>                    
                          <h5 class="card-title"><%= merkintä.otsikko %> </h5>
                          <p class="card-text"><%= merkintä.kommentti %> </p>
                          
                        
                          <!-- aika -->
                          <%
                          let päivä = merkintä.koska.getDate()
                          let päivänNumero = merkintä.koska.getDay()
                          let kuukausiNumero = merkintä.koska.getMonth()
                          const päivät = ["Sunnuntaina", "Maanantaina", "Tiistaina", "Keskiviikkona", "Torstaina", "Perjantaina", "Lauantaina"]
                          const kuukaudet = ['Tammikuuta', 'Helmikuuta', 'Maaliskuuta', 'Huhtikuuta', 'Toukokuuta', 'Kesäkuuta', 'Heinäkuuta', 'Elokuuta', 'Syyskuuta', 'Lokakuuta', 'Marraskuuta', 'Joulukuuta']
                          let viikonPäivä = päivät[päivänNumero]
                          let kuukausi = kuukaudet[kuukausiNumero]
                          let vuosi = merkintä.koska.getFullYear()
                          %>    
                          <p class="card-text"><small><strong> jätetty:</strong> <%= viikonPäivä %>. <%= päivä %>.<%= kuukausi %> Vuonna: <%= vuosi %> </small></p>   
                          <!-- aikalpoppuu -->

                          
                  
                    
                     
                      </div>
                
                    <!--  muokkaa/poista alkaa  -->
                    <!-- Jos local.käyttäjä on sama kuin merkinnän tekijä niin silloin näkyy, katso index.js, käyttäjä = passportin user -->
                    <% if(käyttäjä && merkintä.luoja.equals(käyttäjä._id)) { %> 
                    <div class="card-body">
                      <a href="/vieraskirja/<%= merkintä._id %>/edit" class="btn btn-warning">Muokkaa tai poista</a>
                    </div>
                    <% } %> 
         <!-- ensimmäinen column loppuu tässä alla -->
         </div>
                
                          
              <!--  kommentit -->
         <div class="col-lg-6">
                    <% if(merkintä.kommentit.length) { %> 
                      <h5>Kommentit</h5>
                      <% for (kommentti of merkintä.kommentit) { %>
                      <div class="card">
                            <div class="card-body">
                            <p><%= kommentti.luoja.username %> </p>
                            <p><%= kommentti.kommentti %> </p> 
                            <% if(käyttäjä && merkintä.luoja.equals(käyttäjä._id)) { %>
                            <form action="/vieraskirja/<%=merkintä._id%>/kommentit/<%=kommentti._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Poista</button>
                            </form>
                            <% } %> 
                          </div>
                     </div>
                       <% } %> 
                     <% } %> 
                    <!-- commenttien näyttö loppuu -->
              
                    <!--  jätä kommentti alkaa-->
                    <div>
                    <!--  jos olet loggautunut voit jättää kommentteja -->
                    <% if(käyttäjä) { %>             
                    <form action="/vieraskirja/<%=merkintä._id%>/kommentit"  method="POST" novalidate class="validoi-tämä form-group">
                 
                          <div class="mb-1">
                            <label for="kommentti" class="form-label">Kommentoi</label>
                            <input type="text" class="form-control"  name="kommentit[kommentti]" id="kommentti"  required>
                            <div class="invalid-feedback">
                              Tässä pitää olla sisältöä
                            </div>
                                  </div>
                    <button class="btn btn-warning my-3">Lähetä</button>
                    </form>
                    <% }  %> 
                    </div>

                    <!--  toinen columi loppuu tässä alla -->
           </div> 
        
               <!-- row loppuu tässä alla -->
              </div>
        <% } %>
   
        <%- include('../partials/scripts') %> 


            
        