<% layout('/layouts/boilerplate') %> 
<div class="header">
<h1 class="display-1 text-center">Ruokala</h1>
</div>
<div class="row">
    <div class="col-lg-6">
<!-- myymälä -->
            <div class="header row">
            <h1 class="text-center">Myytävänä olevat tuotteet</h1>
                <div class="col-4">
                  <h5>Tuote</h5>
                </div>
                <div class="col-4">
                  <h5>Määrä</h5>
                </div>
                <div class="col-4">
                  <h5>Hinta</h5>
                </div>
            <% for(tuote of tuotteet) { %> 
                <div class="col-4 m-0">
                  <p><%= tuote.nimi %></p>
                </div>
                <div class="col-4">
                  <p><%= tuote.määrä %> annosto</p> 
                </div>
                <div class="col-4">
                  <p><%= tuote.hinta %> €</p>
                </div>
            <% } %> 
            </div>
    </div>



<!-- kuvagalleria -->
<div class="col-lg-6  d-none d-lg-block">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/pic1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic8.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic9.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
</div>
<h1>Mitä haluaisit tilata</h1>
<form action="">
    <label for="select">tuotteet</label>
    <select name="ruokala[nimi]" id="nimi">
        <% for(tuote of tuotteet) { %> 
            <option value="<%= tuote.nimi %> "><%= tuote.nimi %> </option>
            <%  } %> 
    </select>
    <label for="">montako annosta</label>
    <input type="number">
</form>
<%- include('../partials/scripts') %> 
<script src="javascripts/ruokala.js"></script>
